        <!-- Footer -->
        <footer class = "py-5 bg-dark">
            <div class = "container">
                <p class = "m-0 text-center text-white">Copyright &copy; The PQ Repo <script
                type = "text/javascript">document.write( new Date().getFullYear() );</script></p>
            </div>
            <!-- /.container -->
        </footer>
    
        <!-- Bootstrap core JavaScript -->
        <script src = "../frontend/vendor/jquery/jquery.min.js"></script>
        <script src = "../frontend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Plugin JavaScript -->
        <script src = "../frontend/vendor/jquery-easing/jquery.easing.min.js"></script>
    
        <!-- Custom JavaScript for this theme -->
        <script src = "../frontend/js/scrolling-nav.js"></script>
    </body> 
</html>
    