form#formtwo p {
  font-weight: bolder;
  color: #333;
  text-transform: capitalize;
  width: 110px;
  display: inline-block;
}

form#formtwo input[type="text"] {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 300px;
}

form#formtwo input[type="submit"] {
  padding: 4px;
  width: 120px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
  margin: 20px 0 0 105px;
  background-color: #333;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}
